<h1>Recipes new</h1>

<%= form_for @recipe, :url => recipes_path do |f| %>

  <div>
    <% @recipe.errors.each do |field, message| %>
      <p><%= "#{field} - #{message}" %></p>
    <% end %>
  </div>

  <p>Name:</p><%= f.text_field :name %>
  <%= f.submit "Create" %>
<% end %>


