<h1>Showing  <b><%= @recipe.name %></b></h1>

<table>
  <tr>
    <th>Ingredient Name</th>
    <th>Ingredient Description</th>
  </tr>

<% @recipe.ingredients.each do |ingredient| %>
  <tr>
    <td><%= ingredient.name %></td>
    <td><%= ingredient_description_text(ingredient) %>
    </td>
  </tr>
<% end %>
</table>


