<h1>Showing  <b><%= @recipe.name %></b></h1>

<table>
  <tr>
    <th>Ingredient Name</th>
  </tr>

  <% @recipe.ingredients.each do |ingredient| %>
    <tr>
      <td><%= ingredient.name %></td>
      </td>
    </tr>
  <% end %>

</table>

<br>

<table>
  <tr>
    <th>Steps</th>
  </tr>

  <% @recipe.steps.each do |step| %>
    <tr>
      <td><%= step.description %>
      </td>
    </tr>
  <% end %>
</table>
