<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <center>
        <h2><%= @recipe.name %></h2>
        <%= build_recipe_buttons(@recipe) %>
      </center>
    </div>
  </div>
  <div class="row-fluid">
    <center><img src="http://placehold.it/300x200"></img></center>
  </div>
  <div class="row-fluid">
    <div class="span3">
      <legend>Ingredients</legend>
        <ul class="unstyled">
          <% @recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>

    </div>
    <div class="span9">
      <legend>steps</legend>
        <ol>
          <% @recipe.steps.each do |step| %>
            <li><%= step.description %></li>
          <% end %>
        </ol>
    </div>
  </div>
</div>


