
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>

  <legend>Forgot your password?</legend>

  <%= f.input :email, :placeholder => "email@domain.com" %>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Send me reset password instructions", :class => "btn" %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= render "devise/shared/links" %>
    </div>
  </div>
<% end %>

