<h1>Ingredients update</h1>

<%= form_for @ingredient, :url => ingredient_path, :method => :put do |f| %>

  <div>
    <% @ingredient.errors.each do |field, message| %>
      <p><%= "#{field} - #{message}" %></p>
    <% end %>
  </div>

  <p>Name:</p><%= f.text_field :name %>
  <%= f.submit "Update" %>
<% end %>

