<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <h1>About this website</h1>
    </div>
    <p>Hello and welcome to DeliRecipes!</p>
    <h4 id="about-subtitle">Why does this web application exist?</h4>
    <p>There are lots of recipe web applications already, so why another one?
    The explanation isn't so much about the recipes, but more about the technologies I've used to build this web app. I wanted to learn Ruby on Rails and the best way to learn was to get my hands dirty, rather than reading books or doing small tutorials. I needed a goal and a recipes web application would give me motivation. I enjoy cooking, specially baking, since I was a child, so I built this space to share my recipes. I hope you enjoy them!</p>

    <h4 id="about-subtitle">Is this web application open-source?</h4>
    <p>Yes. You can find it in my <a href="https://github.com/adsantos/recipes">github account</a>.</p>

    <h4 id="about-subtitle">Which technologies/frameworks were used on this web application?</h4>
    <div class="row-fluid">
      <div class="span12">
        <ul class="thumbnails">
          <li class="span3">
            <a href="http://rubyonrails.org/" class="thumbnail"><img id="thumnail_technology" src="assets/rails.png" alt=""></a>
          </li>
          <li class="span3">
            <a href="http://coffeescript.org/" class="thumbnail"><img id="thumnail_technology" src="assets/coffeeScript.png" alt=""></a>
          </li>
          <li class="span3">
            <a href="#" class="thumbnail"><img id="thumnail_technology" src="assets/html5.jpg" alt=""></a>
          </li>
          <li class="span3">
            <a href="http://twitter.github.com/bootstrap/" class="thumbnail"><img id="thumnail_technology" src="assets/bootstrap.jpg" alt=""></a>
          </li>
        </ul>
        <ul class="thumbnails">
          <li class="span3">
            <a href="https://github.com/" class="thumbnail"><img id="thumnail_technology" src="assets/github.jpg" alt=""></a>
          </li>
          <li class="span3">
            <a href="#">CSS</a>
          </li>
          <li class="span3">
            <a href="https://github.com/plataformatec/simple_form">Simple form</a>
          </li>
          <li class="span3">
            <a href="https://github.com/plataformatec/devise">Devise</a>
          </li>
        </ul>

      </div>
    </div>


  </div>
</div>

